__pycache__/
.ipynb_checkpoints/
.env
input/
output/
artifacts/features/
artifacts/wandb/
artifacts/ds_sub_fit/
data_description.txt
docker-compose.yml
*.pyc
*.log
*.parquet
*.db
.virtual_documents/
notebooks/wandb/
notebooks/fe/AutogluonModels/