__pycache__/
.ipynb_checkpoints/
.env
input/
output/
artifacts/features/
artifacts/wandb/
data_description.txt
docker-compose.yml
*.pyc
*.log
.virtual_documents/
notebooks/wandb/
notebooks/fe/AutogluonModels/