Markdown==3.9
beautifulsoup4==4.13.4
packaging==24.2
packaging==25.0
plotly==6.3.0
plotly==6.2.0
wcwidth==0.2.13
pyflakes==3.2.0
colorlog==6.9.0
gitdb==4.0.12
catboost==1.2.7
xyzservices==2025.4.0
cffi==1.17.1
fastapi==0.116.1
idna==3.10
mdurl==0.1.2
alembic==1.16.4
alembic==1.16.5
ipykernel==6.30.1
decorator==5.2.1
cycler==0.12.1
mistune==3.1.3
setuptools==80.9.0
wheel==0.45.1
jupyter-lsp==2.2.5
pylibraft==23.12.0
psutil==7.0.0
munkres==1.1.4
websocket-client==1.8.0
pycodestyle==2.12.1
pycodestyle==2.14.0
SQLAlchemy==2.0.43
SQLAlchemy==2.0.41
databricks-sdk==0.65.0
h11==0.16.0
pytz==2025.2
kiwisolver==1.4.8
graphene==3.4.3
fsspec==2025.5.1
sortedcontainers==2.4.0
ipywidgets==8.1.7
zstandard==0.23.0
rfc3986-validator==0.1.1
fqdn==1.5.1
astroid==3.3.11
greenlet==3.2.4
greenlet==3.2.3
defusedxml==0.7.1
terminado==0.18.1
autopep8==2.0.4
autopep8==2.3.2
text-unidecode==1.3
sniffio==1.3.1
uri-template==1.3.0
docstring-to-markdown==0.17
ipython==8.37.0
nbclient==0.10.2
zipp==3.23.0
toolz==1.0.0
markdown-it-py==3.0.0
bleach==6.2.0
platformdirs==4.3.8
pytest==8.4.2
ipython-genutils==0.2.0
mccabe==0.7.0
flake8==7.1.2
iniconfig==2.1.0
jupyter-events==0.12.0
pexpect==4.9.0
llvmlite==0.40.1
pyarrow==14.0.2
nbformat==5.10.4
logistro==1.1.0
black==25.1.0
tblib==3.1.0
cached-property==1.5.2
async-lru==2.0.5
snowballstemmer==3.0.1
importlib_resources==6.5.2
eval_type_backport==0.2.2
tomlkit==0.13.3
pydocstyle==6.3.0
pip==25.1.1
jupyter_client==7.4.9
jupyter_client==8.6.3
sentry-sdk==2.35.1
smmap==5.0.2
six==1.17.0
opentelemetry-api==1.37.0
pyasn1_modules==0.4.2
Jinja2==3.1.6
cytoolz==1.0.1
overrides==7.7.0
raft-dask==23.12.0
ujson==5.10.0
cuda-bindings==11.8.7
jsonschema-specifications==2025.4.1
treelite==3.9.1
jupyterlab==3.6.8
msgpack==1.1.1
json5==0.12.0
ptxcompiler==0.8.1
scikit-learn==1.7.2
scikit-learn==1.7.0
jupyter_server==2.16.0
fonttools==4.58.5
fonttools==4.59.0
python-dateutil==2.9.0.post0
google-auth==2.40.3
typing-inspection==0.4.1
y-py==0.6.2
jupyter_server_terminals==0.5.3
pyzmq==27.0.0
narwhals==1.46.0
jupyter_core==5.8.1
tinycss2==1.4.0
exceptiongroup==1.3.0
h2==4.2.0
itsdangerous==2.2.0
hpack==4.1.0
traitlets==5.14.3
cloudpickle==3.1.1
jupyterlab_pygments==0.3.0
executing==2.2.0
lz4==4.3.3
jsonschema==4.24.0
Pygments==2.19.2
psycopg2-binary==2.9.10
isort==6.0.1
mlflow-skinny==2.21.3
ypy-websocket==0.8.4
rope==1.14.0
pkgutil_resolve_name==1.3.10
argon2-cffi-bindings==21.2.0
webcolors==24.11.1
pytoolconfig==1.2.5
pathspec==0.12.1
kaggle==1.7.4.5
colorama==0.4.6
opentelemetry-sdk==1.37.0
requests==2.32.4
python-json-logger==2.0.7
cachetools==5.5.2
unicodedata2==16.0.0
joblib==1.5.1
jupyterlab_code_formatter==3.0.2
tqdm==4.67.1
protobuf==4.25.3
isoduration==20.11.0
simplejson==3.20.1
statsmodels==0.14.5
gunicorn==23.0.0
jupyterlab_server==2.27.3
rfc3339_validator==0.1.4
mypy_extensions==1.1.0
widgetsnbextension==4.0.14
opentelemetry-semantic-conventions==0.58b0
httpx==0.28.1
partd==1.4.2
whatthepatch==1.0.7
wandb==0.21.1
ucx-py==0.35.0
typing_utils==0.1.0
anyio==4.9.0
pyparsing==3.2.3
soupsieve==2.7
pickleshare==0.7.5
treelite-runtime==3.9.1
argon2-cffi==25.1.0
annotated-types==0.7.0
Werkzeug==3.1.3
patsy==1.0.1
dask-cuda==23.12.0
rich==14.0.0
pandas==1.5.3
jupyterlab-lsp==5.1.1
pandocfilters==1.5.0
docker-pycreds==0.4.0
nbclassic==1.3.2
fastrlock==0.8.3
entrypoints==0.4
pytest-timeout==2.4.0
rmm==23.12.0
python-dotenv==1.1.1
asttokens==3.0.0
pure_eval==0.2.3
matplotlib-inline==0.1.7
nvidia-nccl-cu12==2.27.6
rpds-py==0.26.0
click==8.2.1
pillow==11.3.0
polars==1.33.0
pyarrow-hotfix==0.7
notebook_shim==0.2.4
locket==1.0.0
comm==0.2.2
tornado==6.5.1
mlflow-tracing==3.3.2
jupyterlab_widgets==3.0.15
Send2Trash==1.8.3
pyasn1==0.6.1
dask==2023.11.0
contourpy==1.3.2
notebook==6.5.7
Flask==3.1.2
tomli==2.2.1
pydantic==2.11.7
PySocks==1.7.1
cubinlinker==0.3.0
jupyter-ydoc==0.2.5
jedi==0.19.2
python-lsp-server==1.13.0
certifi==2025.8.3
charset-normalizer==3.4.2
slicer==0.0.8
cuml==23.12.0
yapf==0.43.0
pylint==3.3.7
choreographer==1.0.10
graphviz==0.21
graphql-relay==3.2.0
orjson==3.11.3
pydantic_core==2.33.2
numpy==1.24.4
seaborn==0.13.2
httpcore==1.0.9
fastjsonschema==2.21.1
graphql-core==3.2.6
starlette==0.47.3
arrow==1.3.0
jsonpointer==3.0.0
pycparser==2.22
GitPython==3.1.45
distributed==2023.11.0
babel==2.17.0
numba==0.57.1
importlib_metadata==8.7.0
jupyter_server_ydoc==0.8.0
setproctitle==1.3.6
kaleido==1.1.0
optuna==4.4.0
xgboost==3.0.2
appdirs==1.4.4
parso==0.8.4
ptyprocess==0.7.0
prometheus_client==0.22.1
attrs==25.3.0
nvtx==0.2.12
scipy==1.15.2
prompt_toolkit==3.0.51
aiosqlite==0.21.0
referencing==0.36.2
shap==0.48.0
docker==7.1.0
bokeh==3.7.3
blinker==1.9.0
lightgbm==4.6.0
Mako==1.3.10
nbconvert==7.16.6
typing_extensions==4.14.1
jupyter_server_fileid==0.9.3
pluggy==1.6.0
stack_data==0.6.3
python-slugify==8.0.4
uvicorn==0.35.0
Brotli==1.1.0
dill==0.4.0
urllib3==2.5.0
PyYAML==6.0.2
pynvml==11.4.1
threadpoolctl==3.6.0
types-python-dateutil==2.9.0.20250708
matplotlib==3.10.3
debugpy==1.8.14
cupy==13.4.1
zict==3.0.0
sqlparse==0.5.3
cudf==23.12.1
dask-cudf==23.12.1
hyperframe==6.1.0
nest_asyncio==1.6.0
MarkupSafe==3.0.2
aiofiles==22.1.0
rsa==4.9.1
webencodings==0.5.1
python-lsp-jsonrpc==1.1.2
cuda-python==11.8.7
packaging==24.2
wheel==0.45.1
backports.tarfile==1.2.0
typeguard==4.3.0
jaraco.text==3.12.1
inflect==7.3.1
jaraco.functools==4.0.1
zipp==3.19.2
autocommand==2.2.2
platformdirs==4.2.2
typing_extensions==4.12.2
importlib_metadata==8.0.0
jaraco.context==5.3.0
tomli==2.0.1
more-itertools==10.3.0
jaraco.collections==5.1.0
